@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --body-color:rgb(203, 203, 219);
    --secondary-color:rgb(86, 50, 193);
    --white-color:white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
    text-align: all .2s linear;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 7px;
    overflow-x: hidden;
}
body{
    background-color:var(--white-color) ;
}
.margin-add{
    margin-left: 2rem;
}
/* -------------------------------------------left section start--------------------------- */
.left-adminPanel{
    position:fixed;
    left: 0;
    top: 0;
    flex: 1;
    width: 18rem;
    height: 100vh;
    background-color: var(--body-color);
}
.left-adminPanel .logo-section{
    margin-top: .5rem;
}
.left-adminPanel .logo-section img{
width: 2.3rem;
}
.left-adminPanel .logo-section h1{
    position: relative;
    top: .2rem;
    font-weight: 700;
    text-align: center;
    display: inline-block;
}
.left-menu-section{
    margin-top: 2rem;
}
.left-menu-section span{
    display: inline-block;
    padding-right: 1rem;
}
.left-menu-section ul{
    height: 3.5rem;
    width: 100%;
}

.left-menu-section li{
    width: 100%;
    margin-top: 2rem;
    list-style: none;
}
.left-menu-section li a{
   display: block;
    top: 1rem;
    padding-left: 2rem;
    text-decoration: none;
}
.left-menu-section li a.active{
    background: var(--white-color);
    padding-top: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    font-weight: 700;
    color: var(--secondary-color);
    border-radius: 1.2rem 0 0 1.2rem;
}
.left-menu-section li a span:first{
    font-size: 1.5rem;
    padding-right: 1rem;
}

/* -----------------------------------------right-container section--------------------------- */
.right-adminPanel{
   margin-left: 15rem;
}
.right-adminPanel .header{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    position: fixed;
    left: 20rem;
    /* width: calc(100 - 20rem); */
    top: 0;
    z-index: 100;
}
.right-adminPanel .header a{
    text-decoration: none;
font-size: 1.3rem;
font-weight: 700;
}
.right-adminPanel .header span{
    font-size: 1.1rem;
    margin-right: .5rem;
}
.right-adminPanel .search-box{
    height: 2.5rem;
    padding-left: .5rem;
    padding: .1rem ;
    border-radius: 1rem;
border: 1px solid gray;
}
.right-adminPanel .search-box span{
    margin-right: 1rem;
}
.right-adminPanel input{
    font-size: 1rem;
    height: 100%;
    background: transparent;
    border: none;
    
}
.right-adminPanel .user{
    display: flex;

}
.right-adminPanel .user img{
    border-radius: 50%;
    margin-right: 1rem;
}
.right-adminPanel .user h1{
    font-size: 1rem;
    font-weight: 600;
}
.right-adminPanel .user small{
   position: relative;
   bottom: .7rem;
    display: inline-block;
    color: gray;
}