@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --body-color: rgb(203, 203, 219);
    --secondary-color: rgb(86, 50, 193);
    --white-color: white;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    transition: all .3s linear;
}

html {
    font-size: 62.2%;
    scroll-behavior: smooth;
    scroll-padding-top: 7px;
    overflow-x: hidden;
}

body {
    background: rgb(230, 230, 230);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 0;
    top: 0;
    right: 0;
    padding: 1rem 5rem;
    position: fixed;
    z-index: 1000;
    box-shadow: 5px 7px -1px rgba(0,0,0,1);
    background-color: rgb(230, 230, 230);
}
.navbar a{
    font-size: 1.5rem;
    color: var(--white-color);
}
.navbar .link{
    margin-right: 10rem;
    border-radius: .5rem;
    padding: 1rem 2rem;
    background-color:red ;
}

 .logo-section {
    margin-top: .5rem;
}

 .logo-section img {
    width: 4.3rem;
}

 .logo-section h1 {
    position: relative;
    font-size: 3.5rem;
    font-weight: 700;
    bottom: 1.2rem;
    text-align: center;
    display: inline-block;
}




.sub-container {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1%;
    padding: 2rem 3rem;
    height: 95vh;
    width: 50vw;
    border-radius: 1rem;
    background: url(../src/gb.png);

}

.index-file {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    border-radius: 1rem;
    background-color: rgb(220, 227, 227);
}

.index-file input {
    display: block;
    border-radius: 1rem;
    font-size: 1.5rem;
    border: none;
    padding: 2rem 3rem;
    height: 5vh;
    width: 50rem;
    margin-top: 2rem;
}

.index-file .btn {
    width: 10vw;
    margin-top: 2rem;
    height: 3.5rem;
    border-radius: .5rem;
    background-color: #1eb9be;
    color: white;
    margin-bottom: 2rem;
    font-size: 2rem;
}

.list-Task {
    position: relative;
}

.list-Task {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 1rem 2rem;
    width: 100%;
    margin-top: 4rem;
}
.list-Task:hover{
    overflow-y: scroll;
}

.list-Task h1 {
    margin-left: 15rem;
    font-size: 3.5rem;
}

.list-Task h1 span {
    color: #1eb9be;
}

.list-Task li {
    position: relative;
    margin-top: 2rem;
    font-size: 2.5rem;
}

.list-Task ul {
    margin-right: 12rem;
    list-style-type: none;
    padding: 0;
}


li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 30rem 1rem 0rem;
    font-size: 2.5rem;
    border-bottom: 1px solid #817e7e;
}

li:last-child {
    border-bottom: none;
}



.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    position: relative;
    left: 30rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
}